.app {
    padding: 1rem;
}

.loader {
    border: 0.25em solid #dddddd;
    border-top: 0.25em solid #3498db;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}